@model IList<Team>
@{
    ViewData["Title"] = "Index";
}

<h2>Your Teams:</h2>

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>

<div class="row flex-column align-items-start justify-content-center">
    @foreach (var team in Model)
    {
        <div class="col-sm-12 col-md-5">
            <a asp-controller="Home" asp-action="TeamIndex" asp-route-team="@team.Slug" class="card card-dashboard-button justify-content-between">
                <i class="fas fa-users"></i>
                <span>@team.Name</span>
                <i class="fas fa-external-link-alt"></i>
            </a>
        </div>
    }
</div>
