@model IList<Team>
@{
    ViewData["Title"] = "Index";
}

<h2>Your Teams:</h2>

<div class="row flex-column align-items-start justify-content-center">
    @foreach (var team in Model)
    {
        <div class="col-sm-12 col-md-5">
            <a asp-controller="Home" asp-action="TeamIndex" asp-route-team="@team.Slug" class="d-flex align-items-center justify-content-between card-dashboard-button card-style btn-card">
                <i class="fas fa-users"></i>
                <span>@team.Name</span>
                <i class="fas fa-external-link-alt"></i>
            </a>
        </div>
    }
</div>