@{
    ViewData["Title"] = "Home Page";
}

<div class="card-style">
  <div class="card-header-primary">
      <div class="card-head">
        <h2>Your Payments Dashboard</h2>
      </div>
  </div>
</div>
<div class="alert alert-yellow">
  <div class="row justify-content-between align-items-center">
    <div>
      <p><span class="sans-bold">You have 5 outstanding invoices |</span> view</p>
    </div>
    <div>
      <img src="/media/remove.svg" alt="x icon">
    </div>
  </div>
</div>
<div class="alert alert-red">
  <div class="row justify-content-between align-items-center">
    <div>
      <p><span class="sans-bold">You have 1 past due invoices |</span> view</p>
    </div>
    <div>
      <img src="/media/remove.svg" alt="x icon">
    </div>
  </div>
</div>
<div class="alert alert-green">
  <div class="row justify-content-between align-items-center">
    <div>
      <p><span class="sans-bold">You have 1 past due invoices |</span> view</p>
    </div>
    <div>
      <img src="/media/remove.svg" alt="x icon">
    </div>
  </div>
</div>
<div class="alert alert-blue">
  <div class="row justify-content-between align-items-center">
    <div>
      <p><span class="sans-bold">You have 1 past due invoices |</span> view</p>
    </div>
    <div>
      <img src="/media/remove.svg" alt="x icon">
    </div>
  </div>
</div>
<div id="react-app">Loading...</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
