@model Payments.Core.Domain.FinancialAccount

@{
    ViewData["Title"] = "Create Account";
}

<h2>Create Account for Team @Model.Team.Name</h2>

<h4>FinancialAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAccount">
            @Html.HiddenFor(a => a.TeamId)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chart" class="control-label"></label>
                <input asp-for="Chart" class="form-control" style="text-transform:uppercase"/>
                <span asp-validation-for="Chart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account" class="control-label"></label>
                <input asp-for="Account" class="form-control" style="text-transform:uppercase"/>
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubAccount" class="control-label"></label>
                <input asp-for="SubAccount" class="form-control" style="text-transform:uppercase"/>
                <span asp-validation-for="SubAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsDefault" /> @Html.DisplayNameFor(model => model.IsDefault)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<script type="text/javascript">
        $("#Account").on("blur",
            function() {
                const account = $("#Account").val();
                const chart = $("#Chart").val();
                const subAcccount = $("#SubAccount").val();
                //fetch(`/financial/info?chart=4&account=CRU9033`, { credentials: "same-origin" })
                fetch(`/financial/info?chart=` + chart + `&account=`+ account +`&subAccount=` + subAcccount, { credentials: "same-origin" })
                    .then((response) => {
                        if (!response.ok) {
                            throw Error("The account you entered could not be found");
                        }
                        return response;
                    })
                    .then((response) => response.json())
                    .then((accountName) => {
                        alert(accountName);
                    });

            });
    </script>*@
}
