@using Payments.Core.Domain
@using RazorLight
@inherits TemplatePage<dynamic>

@{
    var team = (Team) ViewBag.Team;
}

<mjml lang="en-us">
    <mj-head>

    </mj-head>
    <mj-body background-color="#fff">

        @RenderBody()
        
        <mj-section>
            <mj-column>
                <mj-text align="center">
                    <p>If you have any questions, contact us at <a href="mailto:@team.ContactEmail">@team.ContactEmail</a> or call at <a href="tel:@team.ContactPhoneNumber">@team.ContactPhoneNumber</a></p>
                </mj-text>
            </mj-column>
        </mj-section>

    </mj-body>
</mjml>
