
@{
    ViewData["Title"] = "System";
}

<div class="card">
    <div class="card-header-primary">
        <div class="card-header">
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>
</div>

<div>
    <a asp-controller="Jobs" asp-action="Index">Jobs</a>
</div>
