<footer>
    <div class="footer_bleed">
      <div class="footer_divider">
        <div class="t-center">
              <p>Copyright &copy; <span id="copywrite-year"></span> The Regents of the University of California, Davis campus. All rights reserved.</p>

            <!-- <div class="t-right">
              <p><a href="https://github.com/ucdavis/payments"><img src="/media/github.svg" alt="Github Icon"></a></p>
            </div> -->
        </div>
      </div>
    </div>
  </footer>
