@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Routing
@inject IHttpContextAccessor HttpContextAccessor

@{
    var controller = HttpContextAccessor.HttpContext.GetRouteData().Values["controller"] as string;
    var action = HttpContextAccessor.HttpContext.GetRouteData().Values["action"] as string;

    var query = "";

    if (string.Equals("search", controller, StringComparison.OrdinalIgnoreCase)
        && string.Equals("query", action, StringComparison.OrdinalIgnoreCase))
    {
        query = HttpContextAccessor.HttpContext.Request.Query["q"];
    }

    var teamSlug = HttpContextAccessor.HttpContext.GetRouteData().Values["team"] as string;
}

<div class="row mx-1 mb-3 align-items-start top_nav_tablet_laptop">
    <div class="logo col-lg-4 col-xl-6">
        <a id="logoContainer" href="/">
            @Html.InlineSvg("/wwwroot/media/logo.svg")
        </a>
    </div>
    <div class="col-lg-8 col-xl-6">
        <div class="d-flex justify-content-between flex-fill">
            <form class="topsearch flex-grow-1 mr-sm-4" asp-controller="Search" asp-action="Query" asp-route-team="@teamSlug" method="get">
                <input class="form-control" name="q" type="search" placeholder="Search..." value="@query" aria-label="Search">
            </form>
            <partial name="_LoginPartial" />
        </div>
    </div>
</div>
