
<div class="row mx-1 mb-3 align-items-start">
    <div class="logo col-lg-4 col-xl-6">
        <a href="/">
            @Html.InlineSvg("/wwwroot/media/logo.svg")
        </a>
    </div>
    <div class="col-lg-8 col-xl-6">
        <div class="d-flex justify-content-between flex-fill">
            <form class="topsearch flex-grow-1 mr-sm-4">
                <input class="form-control" type="search" placeholder="Search..." aria-label="Search">
                <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
            </form>
            <partial name="_LoginPartial"/>
        </div>
    </div>
</div>
