@model Payments.Core.Models.Invoice[]

@{
    ViewBag.Title = "All Invoices";
}

<h2>Invoices</h2>
<ul>
    @foreach (var invoice in Model)
    {
        <li>@invoice.Title (@invoice.TotalAmount.ToString("C")) -- @Html.ActionLink("Edit", "Edit", new { id = invoice.Id })</li>
    }    
</ul>

@Html.ActionLink("Create Invoice", "Create")
