//main Search
.topsearch {
  input {
    box-shadow: $box-shadow;
    background: url("/media/search-icon.svg") top left     no-repeat;
    background-size: 24px 24px;
    background-position: 10px 8px;
    background-color: #fff;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    color: $tertiary-color;
    height: 42px;
    border: none;
    font-family: $sans-bold;
    padding: 0 7px 0 45px;
    width: 400px;
    position: relative;
    transition: box-shadow .2s ease-in-out;
  }
}

label {
  font-size:1.6rem;
}

.form-control {
  font-size:1.6rem;
  height: 4rem;
}

.team-select-control {
  position: relative;
  width: 100%;
  z-index: 1;
  text-align: right;
  white-space: nowrap;
  float: none;
  display: inline-block;
  margin-left: 0;

  &:before {
    content: '';
    display: inline-block;
  }

  .title {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: inherit;
    padding-right: inherit;
    padding-bottom: inherit;
    padding-left: inherit;
    height: 100%;
    width: 100%;
    text-align: left;

    .title-inner {
      padding-right: inherit;

      .title-inner-inner {
        overflow: hidden;
      }
    }
  }
}

.team-select-control-item {
  font-size: 1.4rem;
  text-align: center;
}