ul.main-nav {
  list-style: none;
  font-family: $sans-bold;
  margin-left:0px;
  padding-left:0px;
  li {
    padding:2px 0px;
    a {
      font-size:1.8rem;
      color:$primary-font;
      img {
        margin-right:12px;
        margin-bottom:3px;
      }
      &:hover {
        color:$primary-color;
        @include fader;
      }
    }
  }

}
nav {
  a {
    .navitem {
      color:$primary-font;
      font-size: 1.8rem;
      font-family: $sans-bold;
    }
    .row {
      padding:4px 0px;
    }
    .svgwrapper {
      margin-right:12px;
      width:28px;
    }
  }
}
g#home-secondary, g#settings-secondary {
  fill:$bg-color;
}
g#home-primary, g#invoices-primary, g#support-primary, g#settings-primary, g#logout-primary {
  fill:lighten( $primary-color,5% );
}
g#invoices-secondary, g#support-secondary, g#logout-secondary {
  fill:lighten( $primary-color,15% );
}
g#home-tertiary, g#invoices-tertiary, g#support-tertiary, g#settings-tertiary, g#logout-tertiary {
  fill:lighten( $primary-color,25% );
}
a.nav-home:hover {
  g#home-primary {
    fill:$primary-color;
  }
  // g#house-secondary {
  //   fill:$tertiary-font;
  // }
}
a.nav-invoices:hover {
  g#invoices-primary {
    fill:$primary-color;
  }
  // g#invoices-secondary {
  //   fill:$tertiary-font;
  // }
}
a.nav-support:hover {
  g#support-primary {
    fill:$primary-color;
  }
  // g#support-secondary {
  //   fill:$tertiary-font;
  // }
}

a.nav-settings:hover {
  g#settings-primary {
    fill:$primary-color;
  }
  // g#settings-secondary {
  //   fill:$tertiary-font;
  // }
}
a.nav-logout:hover {
  g#logout-primary {
    fill:$primary-color;
  }
  // g#nuke-secondary {
  //   fill:$tertiary-font;
  // }
}
