@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Routing
@using Payments.Mvc.Models.Roles
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Reports";
    var teamSlug = HttpContextAccessor.HttpContext.GetRouteData().Values["team"] as string;
}

@if (!string.IsNullOrWhiteSpace(teamSlug))
{
    <div class="card">
        <div class="card-header card-header-primary d-flex justify-content-between align-items-start">
            <h2>Team Reports</h2>
        </div>
        <div class="card-body">
            <p>See below for reports about your team.</p>

            <p>Have an idea for a report? Make a recommendation with a help ticket <a href="https://caeshelp.ucdavis.edu/?appname=Payments" class="btn btn-gold" target="_blank" rel="noopener noreferrer">Here</a></p>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-lg-4">
            <a asp-action="Activity" asp-team="@teamSlug">
                <div class="card job min-height-card">
                    <img class="card-img-top" src="~/media/team_activity_report.jpg" alt="zoom in of the eye on the dollar">
                    <div class="card-body">
                        <h5 class="card-title">
                            Team Activity Report
                        </h5>
                        <p class="card-text">
                            View all invoices created in the last 12 months. Export to excel to view additional columns.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a asp-action="Aging" asp-team="@teamSlug">
                <div class="card job min-height-card">
                    <img class="card-img-top" src="~/media/team_aging.jpg" alt="accounting book">
                    <div class="card-body">
                        <h5 class="card-title">
                            Team Aging Report
                        </h5>
                        <p class="card-text">
                            Shows all invoices that have not been paid, grouped by customer and bucketed by age
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row mb-4">
    </div>
}

@if (User.IsInRole(ApplicationRoleCodes.Admin))
{
    <div class="card">
        <div class="card-header card-header-primary d-flex justify-content-between align-items-start">
            <h2>System Reports</h2>
        </div>
        <div class="card-body">
            <p>Have an idea for a report? Make a recommendation with a help ticket <a href="https://caeshelp.ucdavis.edu/?appname=Payments" class="btn btn-gold" target="_blank" rel="noopener noreferrer">Here</a></p>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-lg-4">
            <a asp-action="StuckInProcessing">
                <div class="card job min-height-card">
                    <img class="card-img-top" src="~/media/paid_invoices_stuck.jpg" alt="Stuck In Processing">
                    <div class="card-body">
                        <h5 class="card-title">
                            Paid Invoices Stuck in Processing
                        </h5>
                        <p class="card-text">
                            Shows all invoices that have been paid more than a week ago and are still in Processing status
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a asp-action="PendingRefundRequests">
                <div class="card job min-height-card">
                    <img class="card-img-top" src="~/media/invoice_refund_request.jpg" alt="Pending Refund Requests">
                    <div class="card-body">
                        <h5 class="card-title">
                            Invoices that have refund requests
                        </h5>
                        <p class="card-text">
                            Shows all invoices that have refund requests that have not been marked as refunded.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a asp-action="InactiveUsers">
                <div class="card job min-height-card">
                    <img class="card-img-top" src="~/media/team_permissions.jpg" alt="User Remove">
                    <div class="card-body">
                        <h5 class="card-title">
                            Team Permissions
                        </h5>
                        <p class="card-text">
                            Shows all users with Team Permissions and if they are active in the campus IAM system.
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
}

