
@{
    ViewData["Title"] = "Reports";
}

<div class="card-style">
    <div class="card-header-primary card-bot-border">
        <div class="card-head d-flex justify-content-between align-items-start">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
    <div class="card-content">
        <p>Have an idea for a report? Make a recommendation to John Knoll jpknoll@ucdavis.edu</p>
    </div>
</div>

