@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Routing
@using Payments.Mvc.Models.Roles
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Reports";
    var teamSlug = HttpContextAccessor.HttpContext.GetRouteData().Values["team"] as string;
}

@if (!string.IsNullOrWhiteSpace(teamSlug))
{
    <div class="card mb-4">
        <div class="card-header card-header-primary d-flex justify-content-between align-items-start">
            <h2>Team Reports</h2>
        </div>

        <div class="card-body">
            <p>See below for reports about your team.</p>

            <p>
                Have an idea for a report? Make a recommendation with a help ticket
                <a href="https://caeshelp.ucdavis.edu/?appname=Payments"
                   target="_blank"
                   rel="noopener noreferrer">Here</a>.
            </p>

            <div class="row g-3">

                
                <div class="col-12 col-md-8">
                    <a asp-action="Activity" asp-team="@teamSlug" class="card card-report text-decoration-none">
                        <div class="row align-items-center g-3">
                            <div class="col-12 col-md-4">
                                <img src="~/media/team_activity_report.jpg"
                                     alt="Zoom in of the eye on the dollar"
                                     class="img-fluid rounded" />
                            </div>
                            <div class="col">
                                <h5 class="card-title mb-1">Team Activity Report</h5>
                                <p class="card-text mb-0">
                                    View all invoices created in the last 12 months.
                                    Export to Excel to view additional columns.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>

               
                <div class="col-12 col-md-8">
                    <a asp-action="Aging" asp-team="@teamSlug" class="card card-report text-decoration-none">
                        <div class="row align-items-center g-3">
                            <div class="col-12 col-md-4">
                                <img src="~/media/team_aging.jpg"
                                     alt="Accounting book"
                                     class="img-fluid rounded" />
                            </div>
                            <div class="col">
                                <h5 class="card-title mb-1">Team Aging Report</h5>
                                <p class="card-text mb-0">
                                    Shows all invoices that have not been paid,
                                    grouped by customer and bucketed by age.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
}

@if (User.IsInRole(ApplicationRoleCodes.Admin))
{
    <div class="card">
        <div class="card-header card-header-primary d-flex justify-content-between align-items-start">
            <h2>System Reports</h2>
        </div>

        <div class="card-body">
            <p>
                Have an idea for a report? Make a recommendation with a help ticket
                <a href="https://caeshelp.ucdavis.edu/?appname=Payments"
                   target="_blank"
                   rel="noopener noreferrer">Here</a>.
            </p>

            <div class="row g-3">

               
                <div class="col-12 col-md-8">
                    <a asp-action="StuckInProcessing" class="card card-report text-decoration-none">
                        <div class="row align-items-center g-3">
                            <div class="col-12 col-md-4">
                                <img src="~/media/paid_invoices_stuck.jpg"
                                     alt="Stuck In Processing"
                                     class="img-fluid rounded" />
                            </div>
                            <div class="col">
                                <h5 class="card-title mb-1">Paid Invoices Stuck in Processing</h5>
                                <p class="card-text mb-0">
                                    Shows all invoices that have been paid more than a week ago
                                    and are still in Processing status.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>

                
                <div class="col-12 col-md-8">
                    <a asp-action="PendingRefundRequests" class="card card-report text-decoration-none">
                        <div class="row align-items-center g-3">
                            <div class="col-12 col-md-4">
                                <img src="~/media/invoice_refund_request.jpg"
                                     alt="Pending Refund Requests"
                                     class="img-fluid rounded" />
                            </div>
                            <div class="col">
                                <h5 class="card-title mb-1">Invoices with Refund Requests</h5>
                                <p class="card-text mb-0">
                                    Shows all invoices that have refund requests
                                    that have not been marked as refunded.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>

           
                <div class="col-12 col-md-8">
                    <a asp-action="InactiveUsers" class="card card-report text-decoration-none">
                        <div class="row align-items-center g-3">
                            <div class="col-12 col-md-4">
                                <img src="~/media/team_permissions.jpg"
                                     alt="User Remove"
                                     class="img-fluid rounded" />
                            </div>
                            <div class="col">
                                <h5 class="card-title mb-1">Team Permissions</h5>
                                <p class="card-text mb-0">
                                    Shows all users with Team Permissions and if they are active in the campus IAM system.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
}
