
@{
    ViewData["Title"] = "Reports";
}

<div class="card-style">
    <div class="card-header-primary card-bot-border">
        <div class="card-head d-flex justify-content-between align-items-start">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
    <div class="card-content">
        <p>Have an idea for a report? Make a recommendation to John Knoll jpknoll@ucdavis.edu</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <a asp-action="TaxReport">
            <div class="card job">
                <img class="card-img-top" src="~/media/abstract-art-artistic-251287.jpg" alt="zoom in of the eye on the dollar">
                <div class="card-body">
                    <h5 class="card-title">
                        Tax Report
                    </h5>
                    <p class="card-text">
                        Get your tax report for last fiscal year
                    </p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-4">
        <a asp-action="TaxReport">
            <div class="card job">
                <img class="card-img-top" src="~/media/abstract-art-artistic-251287.jpg" alt="zoom in of the eye on the dollar">
                <div class="card-body">
                    <h5 class="card-title">
                        Tax Report
                    </h5>
                    <p class="card-text">
                        Get your tax report for last fiscal year
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>
