@model IList<Invoice>

@{
    ViewBag.Title = "Sales Log";
}

<div class="card-style">
    <div class="card-header-primary card-bot-border">
        <div class="card-head d-flex justify-content-between align-items-start">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>

    <div class="card-content card-bot-border">
        <div class="d-flex justify-content-between">
            <h3 class="">Filters</h3>
            <button class="btn-plain" type="button" data-toggle="collapse" data-target="#invoiceFilter"><i class="fas fa-filter"></i></button>
        </div>
    </div>

    <div class="card-content">
        <partial name="_SalesLogTable" />
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function() {
            // setup table
            $("#SalesLog").DataTable({
                order: [[ 0, 'asc' ]],
                columnDefs: [
                    { orderable: false, targets: -1 },
                ],
            });
        });
    </script>
}
