@model Payments.Mvc.Models.InvoiceListViewModel

@{
    ViewData["Title"] = "Tax Liability Report";
}

<form method="post">
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-header card-header-primary d-flex justify-content-between align-items-baseline">
            <h1>@ViewBag.Title</h1>
            <button class="btn" type="submit">Run Report <i class="fas fa-chart-line ml-3"></i></button>
        </div>
        <div class="card-body bot-border">
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="StartDate"></label>
                    <div class="input-group">
                        <select id="startDateMonth" class="custom-select">
                            <option value="1">JAN</option>
                            <option value="2">FEB</option>
                            <option value="3">MAR</option>
                            <option value="4">APR</option>
                            <option value="5">MAY</option>
                            <option value="6">JUN</option>
                            <option value="7">JUL</option>
                            <option value="8">AUG</option>
                            <option value="9">SEP</option>
                            <option value="10">OCT</option>
                            <option value="11">NOV</option>
                            <option value="12">DEC</option>
                        </select>
                        <input id="startDateYear" class="form-control" type="number" min="2000" step="1" />
                            <button class="btn month-picker" type="button">
                                <i class="far fa-fw fa-calendar"></i>
                            </button>
                        </div>
                    </div>

                    <input asp-for="StartDate" type="hidden" />
                    <input asp-for="Timespan" type="hidden" />
                </div>
            </div>
            
        <div class="card-body">
            @if (Model?.Invoices != null)
            {
                if (Model.Invoices.Any())
                {
                    <partial name="_TaxReportTable" model="@Model.Invoices" />
                }
                else
                {
                    <span>No invoices found for fiscal year</span>
                }
            }
            else
            {
                <p>Click "Run Report" above.</p>
            }
        </div>
    </div>
</form>

@section scripts
{
    <script type="text/javascript" asp-add-nonce="true">
        $(function () {
            // setup table
            var table = $("#taxReportTable").DataTable({
                "order": [[1, 'asc']],
                "paging": false,
                "info": false,
                "buttons": ['excel'],
            });

            table.buttons().container()
                .appendTo("#taxReportTable_wrapper .col-md-6:eq(0)");

            var df = window.dateFns;

            // setup datepicker
            $('.month-picker').datepicker({
                startView: 1,
                minViewMode: 1,
                maxViewMode: 2,
            });

            // setup inputs
            var defaultDate = new Date($('#StartDate').val());
            $('#startDateMonth').val(df.getMonth(defaultDate) + 1);
            $('#startDateYear').val(df.getYear(defaultDate));
            $('.month-picker').datepicker('setDate', defaultDate);

            $('.month-picker').on('changeDate', function (event) {
                // update hidden
                $('#StartDate').val(event.date.toISOString());

                // update dropdown/year
                $('#startDateMonth').val(df.getMonth(event.date) + 1);
                $('#startDateYear').val(df.getYear(event.date));
            });

            $('#startDateMonth').change(function() {
                var month = $(this).val() - 1;
                var date = df.setMonth($('#StartDate').val(), month);

                // update datepicker, bubbles to changeDate
                $('.month-picker').datepicker('setDate', date);
            });

            $('#startDateYear').change(function() {
                var year = $(this).val();
                var date = df.setYear($('#StartDate').val(), year);

                // update datepicker, bubbles to changeDate
                $('.month-picker').datepicker('setDate', date);
            });
        });
    </script>
}
