@font-face {
    font-family: 'proxima-nova-r';
    src: url({#asset proximanova-regular-webfont.woff @encoding=dataURI}) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova-i';
    src: url({#asset proximanova-regularit-webfont.woff @encoding=dataURI}) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova-b';
    src: url({#asset proximanova-bold-webfont.woff @encoding=dataURI}) format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "proxima-nova-r", serif;
}

.memo {
    font-family: "proxima-nova-i", serif;
}

