@model Payments.Mvc.Models.InvoiceViewModels.InvoiceFilterViewModel

@{
    var statusCodes = ViewBag.Statuses as IEnumerable<SelectListItem>;
}

<form class="row" id="invoiceFilterForm" asp-controller="Invoices" asp-action="SetFilter" method="post">
    <div class="col-lg-9">
        <div class="row">
            <div class="form-group col-lg-6">
                <label>Status</label>
                <select id="filter_statuses" class="form-control selectpicker" asp-for="Statuses" asp-items="statusCodes" data-style="btn-primary"></select>
            </div>
            
            <div class="form-group col-12">
                <label>Created Date</label>
                <div id="filter_createdDatePicker" class="input-group input-daterange">
                    <input class="form-control" type="text" placeholder="MM/DD/YYYY" asp-for="CreatedDateStart" asp-format="{0:MM/dd/yyyy}" />
                    <span class="add-on">to</span>
                    <input class="form-control" type="text" placeholder="MM/DD/YYYY" asp-for="CreatedDateEnd" asp-format="{0:MM/dd/yyyy}" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="ShowDeleted" data-style="btn-primary">
                <label class="form-check-label" for="ShowDeleted">Show Deleted</label>
            </div>
        </div>
    </div>
    <div class="col-lg-3 d-flex justify-content-end align-items-end">
        <div class="d-flex justify-content-end align-items-center form-group">
            <button class="btn-plain pr-1" type="reset">Clear Filter</button>
            <button class="btn" type="submit">Apply Filter <i class="fas fa-filter"></i></button>
        </div>
    </div>
</form>

<script type="text/javascript" asp-add-nonce="true">
    window.addEventListener('load', function () {
        // setup multipick
        

        // setup datepickers
        $('#filter_createdDatePicker').datepicker({
            inputs: $('#filter_createdDatePicker input'),
            keepEmptyValues: true,
        });
    });
</script>
