@model Invoice

@{
    ViewBag.Title = "Edit Invoice";
}

<h2>@ViewBag.Title</h2>

<div id="react-app">
    Loading Edit Invoice...
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

@section scripts {
    <script>
        window.model = @(Json.Serialize(Model));

        var form = $("#__AjaxAntiForgeryForm");
        window.antiForgeryToken = $('input[name="__RequestVerificationToken"]', form).val();
    </script>
    <script src="~/dist/edit-invoice.js" asp-append-version="true"></script>
}
