@model Invoice

@{
    ViewBag.Title = "Edit Invoice";
}

<h2>@ViewBag.Title</h2>

<div id="react-app">
    Loading Edit Invoice...
</div>

@section scripts {
    <script src="~/dist/edit-invoice.js" asp-append-version="true"></script>
}
