@model IEnumerable<Invoice>

@{
    ViewBag.Title = "Invoices";
}

<h2>@ViewBag.Title</h2>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var invoice in Model)
        {
            <tr>
                <td>@invoice.Id</td>
                <td><a href="@Url.Action("Edit", new { id = invoice.Id })">Edit</a></td>
            </tr>
        }
    </tbody>
</table>