@model object

@{
    ViewBag.Title = "Search";
    Layout = "_Layout";
}



<div class="card-style">
  <div class="card-header-primary card-bot-border">
    <div class="card-head d-flex justify-content-between align-items-start">
      <h2>Search Result: "<span>Scott Kirkland</span>"</h2>
    </div>
  </div>
</div>
<div class="card-style">
  <div class="card-content">
      asdf
  </div>
</div>
