@model string

<div class="pay-download">
    <img src="/media/download.svg" alt="download icon">
    <h3></h3>
    @if (string.IsNullOrWhiteSpace(Model))
    {
        <button class="btn btn-outline-primary">
            Download PDF
        </button>
    }
    else
    {
        <a href="@Model" class="btn btn-outline-primary" download>
            Download PDF
        </a>
    }
</div>
