@model Payments.Mvc.Models.PaymentViewModels.BaseInvoiceViewModel
<div class="pay-footer">
    <p>
        If you have any questions, contact us at <a href="mailto:@Model.TeamContactPhone">@Model.TeamContactEmail</a> or call at <a href="tel:@Model.TeamContactPhone">@Model.TeamContactPhone</a>
    </p>
</div>