@model Payments.Mvc.Models.PaymentViewModels.PaymentInvoiceTeamViewModel
<div class="pay-footer">
    <span>
        If you have any questions, contact us at <a href="mailto:@Model.ContactEmail">@Model.ContactEmail</a> or call at <a href="tel:@Model.ContactPhoneNumber">@Model.ContactPhoneNumber</a>
    </span>
</div>
