@model Payments.Mvc.Models.PaymentViewModels.BaseInvoiceViewModel
<div class="pay-top">
    <h2>Invoice from @Model.TeamName</h2>
    <p class="secondary-font">Billed to @Model.CustomerEmail</p>
    <p class="tertiary-font">Invoice #@Model.Id</p>
</div>