@model Payments.Mvc.Models.PaymentViewModels.PaymentInvoiceViewModel

@{
    ViewBag.Title = "Invoice #" + Model.Id;
    Layout = "_PdfReportLayout";
}

<div class="card-style pay-card-style">
    <div class="card-gradient-header-bleed">
        <div class="card-gradient-header">
        </div>
    </div>
    <div>
        <partial name="_TopInfo" />
        <div class="pay-action">
            @if (!Model.Paid)
            {
                <h1>@(string.Format("{0:C}", Model.Total))</h1>
                if (Model.DueDate.HasValue)
                {
                    <p class="secondary-font">Due @(Model.DueDate.Value.ToString("D"))</p>
                }
            }
            else
            {
                <h1>Invoice Paid</h1>
                if (Model.PaidDate.HasValue)
                {
                    <h2>@Model.Total.ToString("C") USD paid @Model.PaidDate.Value.ToString("D")</h2>
                }
            }
        </div>
        <partial name="_Summary" />
        <partial name="_Footer" />
    </div>
</div>
