@model Payments.Mvc.Models.PaymentViewModels.PreviewInvoiceViewModel

@{
    ViewBag.Title = $"Preview Invoice #{Model.Id}";
    Layout = "_PaymentsLayout";
}

<div class="card-style preview-warning-card-style">
    <span>
        <i class="fas fa-exclamation-triangle preview-warning-icon mr-2"></i>
        This is a preview page only. You cannot pay this invoice here.
    </span>
</div>

<div class="card-style pay-card-style">
    <div class="card-gradient-header-bleed">
        <div class="card-gradient-header">
        </div>
    </div>
    <div>
        <partial name="_TopInfo" />
        <div class="pay-action">
            <span class="pay-action-total">@(string.Format("{0:C}", Model.Total))</span>
            @if (Model.DueDate.HasValue)
            {
                <span class="pay-action-date">Due @(Model.DueDate.Value.ToString("D"))</span>
            }
            <button type="submit" class="btn-gold btn-lg pay-now-button" aria-hidden="true">
                <i class="fas fa-credit-card mr-3" aria-hidden="true"></i>
                Pay Now
            </button>
        </div>
        <partial name="_Summary" />
        <partial name="_Attachments" />
        <partial name="_Download" model="string.Empty" />
        <partial name="_Footer" model="@Model.Team" />
    </div>
</div>
