@model Payments.Mvc.Models.PaymentViewModels.InvoicePaymentViewModel

@{
    ViewBag.Title = $"Preview Invoice {Model.Id}";
    Layout = "_PaymentsLayout";
}

<div class="card-style preview-warning-card-style">
    <p>
        <i class="fa fa-fw fa-exclamation-triangle preview-warning-icon"></i>
        This is a preview page only. You cannot pay this invoice here.
    </p>
</div>

@Html.Partial("_Pay")
