
@{
    ViewData["Title"] = "Jobs";
}

@section AdditionalStyles
{
    <style asp-add-nonce="true">
        .job img.card-img-top {
            max-height: 180px;
            object-fit: cover;
        }
    </style>
}

<div class="card">
    <div class="card-header-primary">
        <div class="card-header">
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card job min-height-card">
            <img class="card-img-top" src="~/media/accounting-balance-blur-164686.jpg" alt="zoom in of the eye on the dollar">
            <div class="card-body">
                <h5 class="card-title">
                    <a asp-action="MoneyMovement">Money Movement Job</a>
                </h5>
                <p class="card-text">
                    Reviews all paid invoices and queries their status with KFS
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card job min-height-card">
            <img class="card-img-top" src="~/media/budget-cash-coins-33692.jpg" alt="zoom in of the eye on the dollar">
            <div class="card-body">
                <h5 class="card-title">
                    <a asp-action="TaxReport">Tax Report Job</a>
                </h5>
                <p class="card-text">
                    Reviews all paid invoices and queries their status with KFS
                </p>
            </div>
        </div>
    </div>
</div>
