
@{
    ViewData["Title"] = "Money Movement Jobs";
}

@section AdditionalStyles
{
}

<div class="card">
    <div class="card-header card-header-yellow">
        <div class="row mb-2">
            <div class="col-8">
                <h2>@ViewBag.Title</h2>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-end">
                <button class="btn" data-toggle="modal" data-target="#run-job-modal">Run Job</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="react-job-log-calendar"></div>
    </div>
</div>

<div id="run-job-modal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Run Money Movement Job?</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <form id="run-job-modal-form" method="post" action="@Url.Action("MoneyMovementRun")">
                    @Html.AntiForgeryToken()
                </form>
                <button type="button" class="btn-inverse" data-dismiss="modal">Cancel</button>
                <button type="button" id="run-job-modal-action" class="btn">Run Job</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="https://cdn.jsdelivr.net/npm/@@fullcalendar/core@4.2.0/main.min.js" integrity="sha256-GBryZPfVv8G3K1Lu2QwcqQXAO4Szv4xlY4B/ftvyoMI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@fullcalendar/daygrid@4.2.0/main.min.js" integrity="sha256-FT1eN+60LmWX0J8P25UuTjEEE0ZYvpC07nnU6oFKFuI=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fullcalendar/core@4.2.0/main.css" integrity="sha256-nJK+Jim06EmZazdCbGddx5ixnqfXA13Wlw3JizKK1GU=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fullcalendar/daygrid@4.2.0/main.css" integrity="sha256-QG5qcyovbK2zsUkGMWTVn0PZM1P7RVx0Z05QwB9dCeg=" crossorigin="anonymous">

    <script asp-add-nonce="true">

        $(function () {
            var targetEl = document.getElementById('react-job-log-calendar');
            var calendar = new FullCalendar.Calendar(targetEl,
                {
                    defaultView: 'dayGridMonth',
                    plugins: ['dayGrid'],
                    eventLimit: true,
                    eventOrder: 'start',
                    events: getEvents,
                    eventRender: function (info) {
                        $(info.el).tooltip({
                            title: info.event.title,
                            placement: 'top',
                            trigger: 'hover',
                            container: 'body'
                        });
                    }
                }
            );

            calendar.render();
        });

        const dateFormat = "MM/DD/YYYY";
        const eventUrl = '@Html.Raw(Url.Action("MoneyMovementRecords", new { start = "start-xxx", end = "end-xxx" }))';
        function getEvents(info, success, failure) {

            const startParam = encodeURIComponent(
                window.dateFns.format(info.start, dateFormat));
            const endParam = encodeURIComponent(
                window.dateFns.format(info.end, dateFormat));

            let url = eventUrl.replace('start-xxx', startParam);
            url = url.replace('end-xxx', endParam);

            fetch(url, {
                    credentials: "same-origin",
                    method: "GET",
                })
                .then(function (response) {
                    if (response.status !== 200) {
                        throw Error("Bad Response");
                    }
                    return response.json();
                })
                .then(function(events) {
                    // transform events
                    events.forEach(function(e) {
                        e.allDay = true;
                    });

                    return events;
                })
                .then(success)
                .catch(failure);
        }
    </script>
}
