@model Payments.Mvc.Models.PaymentViewModels.ExpiredInvoiceViewModel
<div class="pay-footer">
    <span>
        If you have any questions, contact us at <a href="mailto:@Model.Team.ContactPhoneNumber">@Model.Team.ContactEmail</a> or call at <a href="tel:@Model.Team.ContactPhoneNumber">@Model.Team.ContactPhoneNumber</a>
    </span>
</div>
