
.bg-white {
    background-color: $white;
}

.bg-light-gray {
    background-color: $light-gray;
}

.bg-medium-gray {
    background-color: $medium-gray;
}

.text-upper {
    text-transform: uppercase;
}

.text-bold {
    font-weight: bold;
}

.shadow {
    box-shadow: $box-shadow;
}