@using Payments.Mvc.Models.Roles
@model Payments.Mvc.Models.TeamViewModels.EditTeamViewModel

@{
    ViewData["Title"] = "Edit Team";
}

<div class="card-style">
    <div class="card-header-primary card-bot-border">
        <div class="card-head d-flex justify-content-between align-items-start">
            <h2>@ViewBag.Title</h2>
            <a asp-action="Index">Back</a>
        </div>
    </div>
    <div class="card-content">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Slug" class="control-label"></label>
                        <input asp-for="Slug" class="form-control" />
                        <span asp-validation-for="Slug" class="text-danger"></span>
                        <span id="slugUrl"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactName" class="control-label"></label>
                        <input asp-for="ContactName" class="form-control" />
                        <span asp-validation-for="ContactName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactEmail" class="control-label"></label>
                        <input asp-for="ContactEmail" class="form-control" />
                        <span asp-validation-for="ContactEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactPhoneNumber" class="control-label"></label>
                        <input asp-for="ContactPhoneNumber" class="form-control" />
                        <span asp-validation-for="ContactPhoneNumber" class="text-danger"></span>
                    </div>

                    @if (User.IsInRole(ApplicationRoleCodes.Admin))
                    {
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                                </label>
                            </div>
                        </div>
                    }

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index"><i class="fas fa-chevron-left mr-3"></i> Back to Team</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(function () {
            var dirtySlug = false;
            $('#Name').keyup(function () {
                if (dirtySlug) {
                    return;
                }
                var slug = $(this).val();
                slug = slug.replace(/[\W_]/g, '-');
                slug = slug.replace(/--*/g, '-');
                slug = slug.trim('-');
                slug = slug.toLowerCase();

                $('#Slug').val(slug);
                updateSlugUrl();
            });

            $('#Slug').change(function () {
                dirtySlug = true;
                updateSlugUrl();
            });

            function updateSlugUrl() {
                var slug = $('#Slug').val();
                $('#slugUrl').text("https://payments.ucdavis.edu/" + slug);
            }
        });
    </script>
}
