@model Payments.Mvc.Models.WebHookModels.EditWebHookViewModel
@{
    ViewData["Title"] = "Edit WebHook";
}

<form asp-action="EditWebHook" asp-route-id="@Model.Id" method="post">
    <div class="card">
        <div class="card-header card-header-primary d-flex justify-content-between align-items-start">
            <h1>@ViewBag.Title</h1>
            <a asp-action="WebHooks">Back</a>
        </div>

        <partial name="_WebHookForm" />
    </div>
</form>

<div>
    <a asp-action="WebHooks"><i class="fas fa-chevron-left"></i>Back to WebHooks</a>
</div>
