@using System.Linq
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = "_LoginLayout";
}

<style asp-add-nonce="true">
    #loginContainer {
        min-height: 80vh;
    }
</style>

<div id="loginContainer" class="d-flex justify-content-center align-items-center mx-3">
    <div class="card login-card">
        <div id="logoContainer" class="card-header card-header-yellow">
            <img class="card-img-top mb-4" src="media/logo.svg" alt="CAES Payments">
        </div>
        <div class="card-body text-center">
            <div class="card-text mb-3">
                Login below to continue:
                 @{
                    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                    if (loginProviders.Count == 0)
                    {
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    }
                    else
                    {
                        <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="">
                            @foreach (var provider in loginProviders)
                            {
                                <button type="submit" class="btn btn-primary mx-auto mt-4" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                            }
                        </form>
                    }
                }
            </div>

        </div>
    </div>
</div>
