
@{
    ViewData["Title"] = "Profile";
}

<h2>Profile</h2>

<div class="row">
    <div class="col-md-4">Email me when...</div>
    <div class="col-md-8">
        [] An invoice is paid...
        [] An invoice is rejected...
        [] An invoice becomes overdue...
    </div>
</div>