button {
  cursor: pointer;
}
img.img-fluid {
  width: 100%;
}
.alert {
  padding: $card-padding;
  p {
    margin-bottom: 0px;
    color: $secondary-font;
  }
  @include fader;
  box-shadow: $box-shadow;
}

.action-btn {
  display: block;
  font-size: 0.9rem;
  color: #fff;
  background-color: $gold;
  font-family: $sans-bold;
  padding: 15px 20px;
  width: 265px;
  height: 85px;
  &:hover {
    color: #fff;
    opacity: 0.85;
  }
}
p a.action-btn {
  text-decoration: none !important;
}

.btn-plain {
  font-size: 1rem;
  font-family: $sans-bold;
  color: $secondary-font;
  background-color: rgba(255, 255, 255, 0.0001);
  border: none;
  &:hover {
    text-decoration: underline;
  }
  .options-navbar &:hover {
    text-decoration: none;
  }
}
.btn {
  *,
  *:hover {
    color: #fff !important;
  }
}

.btn-lg {
  padding-left: 3rem;
  padding-right: 3rem;
}

.btn-gold {
  @include main-btn;
  background-color: $gold;
  &:active,
  &:focus {
    background-color: darken($gold, 5);
  }
  &:hover {
    background-color: lighten($gold, 5);
  }
}

.btn-invoice-delete {
  border: none;
  color: $doubledecker;
}
.btn-inverse {
  @include inverse-btn;
}
.btn-inverse-gold {
  @include inverse-btn;
  color: $gold;
}
.btn-border {
  border: 2px solid $borders;
  font-size: 1rem;
  padding: 8px 16px;
  font-family: $sans-bold;
  background-color: rgba(255, 255, 255, 0.66);
  @include fader;

  &:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
}
.btn-discreet {
  color: $tertiary-font;
  font-size: 1.2rem;
  font-family: $sans-bold;
  border: none;
  cursor: pointer;

  &:hover {
    color: $primary-color;
  }
}
.btn-register {
  width: 100%;
}

.btn-hover {
  &:hover {
    box-shadow: $box-shadow;
  }

  &.btn-plain {
    padding: 0.8rem;
    border-radius: 3px;
  }
}

.media {
  margin-bottom: 16px;

  img {
    margin-right: 20px;
  }

  .media-body {
  }
}

ol.breadcrumb {
  display: inline-block;
  list-style: none;
  border: 0;
  padding-left: 0;
  background-color: #fff;
  margin-bottom: 0;
  margin-top: 16px;

  li {
    font-size: 0.8rem;
  }

  a {
    color: $tertiary-font;
    // &:hover {
    //     color: darken($primary-color, 20%);
    // }
  }

  > li {
    display: inline-block;

    & + li:before {
      padding: 0 5px;
    }
  }

  > .active a {
    color: $secondary-font;
  }

  > li + li:before {
    color: $tertiary-font;
    content: '/';
  }
}

.separator {
  margin: 20px 0 10px;
}

.display-inline-block {
  display: inline-block;
}

.spacer {
  padding: 12% 0 9%;
}

.card-nobrdr {
  border: 0 solid #fff;
}

.bot-border {
  border-bottom: 1px solid $bg-color;
}
//database

.border-top {
  border-top: 2px solid rgba(255, 255, 255, 0.95);
}

.border-blue-top {
  border-top: 1px solid $primary-color;
}

.border-blue-bottom {
  border-bottom: 1px solid $primary-color;
}

.border-blue-right {
  border-right: 1px solid $primary-color;
}

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

.a-color {
  color: $a-link;
}
.primary-color {
  color: $primary-color;
}
.sans-bold {
  font-family: $sans-bold;
}
.primary-font {
  color: $primary-font;
}

.secondary-font {
  color: $secondary-font;
}

.tertiary-font {
  color: $tertiary-font;
}

.twopointoh {
  font-size: 2rem;
}
.onepointeight {
  font-size: 1.8rem;
}
.card-bot-border {
  border-bottom: 1px solid $borders;
}
dd {
  margin-bottom: 1rem;
}
.form-group {
  margin-bottom: 1rem;
}
.buttons-html5 {
  margin-right: 8px;
}

/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+json */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*='language-'],
pre[class*='language-'] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;
  background: hsla(0, 0%, 100%, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function,
.token.class-name {
  color: #dd4a68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

// Invoice Type Toggle Styles
.invoice-type-toggle-container {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0;
}

.invoice-type-toggle {
  position: relative;
  display: flex;
  background-color: #f8f9fa;
  border: 2px solid #dee2e6;
  border-radius: 25px;
  cursor: pointer;
  width: 280px;
  height: 50px;
  transition: all 0.3s ease;
  overflow: hidden;

  &:hover {
    border-color: $primary-color;
  }
}

.invoice-type-toggle-option {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  transition: color 0.3s ease;
  font-weight: 500;
  color: #6c757d;

  span {
    color: #6c757d;
    transition: color 0.3s ease;
  }

  &.active {
    color: white !important;
    
    span {
      color: white !important;
    }
  }
}

.invoice-type-toggle-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: $primary-color;
  border-radius: 23px;
  transition: transform 0.3s ease;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(29, 74, 131, 0.3);

  &.slide-right {
    transform: translateX(100%);
  }

  &.slide-left {
    transform: translateX(0%);
  }
}

// Recharge Accounts Control Styles
.recharge-accounts-control {
  .recharge-table {
    th {
      &.col-financial-segment {
        width: 55%;
      }
      
      &.col-amount {
        width: 12%;
      }
      
      &.col-percentage {
        width: 12%;
      }
      
      &.col-actions {
        width: 6%;
      }
    }
    
    td {
      &.cell-financial-segment {
        width: 55%;
        padding-right: 8px;
      }
      
      &.cell-amount {
        width: 12%;
        padding-left: 4px;
        padding-right: 4px;
      }
      
      &.cell-percentage {
        width: 12%;
        padding-left: 4px;
        padding-right: 4px;
      }
      
      &.cell-actions {
        width: 6%;
        text-align: right;
        padding-left: 8px;
      }
    }
  }
  
  .validation-input {
    opacity: 0.6;
    position: relative;
    
    &.input-normal {
      opacity: 1;
    }
  }
  
  .validation-spinner-container {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
  }
  
  .validation-spinner {
    width: 1rem;
    height: 1rem;
  }
  
  .row-separator {
    padding: 0;
    height: 8px;
    border-bottom: 2px solid #dee2e6;
  }
}
