// fonts
@font-face {
  font-family: 'proxima-nova-r';
  src: url('../media/fonts/proximanova-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima-nova-i';
  src: url('../media/fonts/proximanova-regularit-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima-nova-b';
  src: url('../media/fonts/proximanova-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$sans-italic: 'proxima-nova-i', serif;
$sans-bold: 'proxima-nova-b', serif;
$sans-reg: 'proxima-nova-r', serif;

$gold: #daaa00;
$blue: #004987;

$primary-color: $blue;
$secondary-color: $gold;
$tertiary-color: $gold;

$a-link: transparentize($primary-color, 0.2);

$primary-font: rgba(31, 31, 31, 0.99); //
$secondary-font: rgba(31, 31, 31, 0.75); //
$tertiary-font: rgba(31, 31, 31, 0.4); //

$box-shadow: 0 0 0 1px rgba(49, 49, 93, 0.03), 0 2px 5px 0 rgba(49, 49, 93, 0.1),
  0 1px 2px 0 rgba(0, 0, 0, 0.08);

$bg-color: #f8f9fb; // background
$borders: #e8e9ed; // border color

$nav-active: #fff;
$nav-secondary: $secondary-font;

// UC Davis Colors

$recpool: #6fcfeb;
$tahoe: #00b2e3;
$gunrock: #0047ba;
$bodega: #003a5d;

$rain: #03f9e6;
$arboretum: #00c4b3;
$putahcreek: #008eaa;
$delta: #00524c;

$farmersmarket: #aada91;
$sage: #6cca98;
$quad: #3dae2b;
$redwood: #266041;

$goldenstate: #ffff3b;
$sunflower: #ffdc00;
$poppy: #f18a00;
$california: #8a532f;

$rose: #ff8189;
$strawberry: #f93549;
$doubledecker: #c10230;
$merlot: #79242f;

$thiebauldicing: #f095cd;
$redbud: #c6007e;
$pinot: #76236c;
$cabernet: #481268;

// Layouts

$card-padding: 1.25rem;
$card-thick-padding: 2rem;

@mixin breakpoint($point) {
  @if $point==sm {
    @media (min-width: 576px) {
      @content;
    }
  }
  @if $point==md {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if $point==lg {
    @media (min-width: 992px) {
      @content;
    }
  }
  @if $point==xl {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

@mixin fader {
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  /* ...and now for the proper property */
  transition: 0.25s;
}

@mixin main-btn {
  white-space: nowrap;
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 3px rgba(0, 0, 0, 0.08);
  background: $primary-color;
  border-radius: 2px;
  color: #fff !important;
  text-decoration: none;
  transition: all 0.15s ease;
  border: none;
  font-family: $sans-bold;
  &:active,
  &:focus {
    background-color: darken($primary-color, 5);
  }
  &:hover {
    color: #fff !important;
    transform: translateY(-1px);
    box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.15) inset,
      0 3px 6px rgba(0, 0, 0, 0.08);
    background-color: lighten($primary-color, 5);
  }
}

@mixin inverse-btn {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  background: #fff;
  font-size: 1rem;
  letter-spacing: 0.025em;
  color: $primary-color;
  text-decoration: none;
  transition: all 0.15s ease;
  border: none;
  font-family: $sans-bold;
  box-shadow: $box-shadow;
  &:hover {
    transform: translateY(-1px);
    text-decoration: none;
  }
}
