/************************ Mobile Style ********************/
/****************************************************************/
/****************************************************************/

@media only screen and (max-width: 768px) {
  .options-navbar a,
  form {
    width: 100%;
  }
  .top_nav_tablet_laptop {
    display: none;
  }

  .top-div {
    margin-bottom: 1rem;
  }

  .bottom-div-mob {
    padding-left: 15px;
    padding-right: 15px;
  }

  #logocolor {
    fill: #1d4a83;
  }

  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

/************************ Tablet/Laptop Phone Style ********************/
/****************************************************************/
/****************************************************************/
@media only screen and (min-width: 768px) {
  .top_nav_mobile {
    display: none;
  }

  .options-navbar a,
  form {
    width: 100%;
  }

  .mobile_logo_navbar {
    display: none;
  }

  .mobile_button_toggler {
    display: none;
  }

  .options-navbar {
    display: flex;
    flex-direction: column;
  }

  .navbar {
    padding-left: 0;
  }
}
