ul.main-nav {
  list-style: none;
  font-family: $sans-bold;
  margin-left: 0px;
  padding-left: 0px;
  li {
    padding: 2px 0px;
    a {
      font-size: 1.1rem;
      color: $primary-font;
      img {
        margin-right: 12px;
        margin-bottom: 3px;
      }
      &:hover {
        color: $primary-color;
        @include fader;
      }
    }
  }
}
nav {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: start;

  .nav-item {
    padding: 8px 0px;
    display: flex;
    justify-content: start;
  }

  .nav-text {
    color: $secondary-font;
    font-size: 1.1rem;
    font-family: $sans-bold;

    &:hover {
      color: $primary-font;
    }
  }

  .svgwrapper {
    margin-right: 18px;
    width: 40px;
    display: flex;
    justify-content: center;
  }

  .subnav {
    // svg size and margin
    margin-left: 16px;

    .nav-text {
      font-size: 1rem;
    }
  }
}

g#home-tertiary,
g#invoices-secondary,
g#invoices-tertiary,
g#reports-secondary,
g#support-secondary,
g#support-tertiary,
g#settings-tertiary,
g#system-secondary,
g#system-tertiary,
g#logout-secondary,
g#logout-tertiary {
  fill: #bbbbbb;
}
g#home-primary,
g#invoices-primary,
g#reports-primary,
g#support-primary,
g#settings-secondary,
g#settings-primary,
g#system-primary,
g#logout-primary {
  fill: #979797;
}
g#settings-secondary {
  fill: $bg-color;
}
a.nav-home:hover {
  g#home-primary {
    fill: $primary-color;
  }
}
a.nav-invoices:hover {
  g#invoices-primary {
    fill: $primary-color;
  }
}

a.nav-reports:hover {
  g#reports-primary {
    fill: $primary-color;
  }
}

a.nav-support:hover {
  g#support-primary {
    fill: $primary-color;
  }
}

.nav-coupons:hover {
  #coupons-primary {
    fill: $primary-color;
  }
}

a.nav-settings:hover {
  g#settings-primary {
    fill: $primary-color;
  }
}

a.nav-system:hover {
  g#system-primary {
    fill: $primary-color;
  }
}

.nav-logout {
  text-decoration: none;
}

button.nav-logout:hover {
  g#logout-primary {
    fill: $primary-color;
  }
}
