// Payments layout and card

.pay-alert {
  margin-left: auto;
  margin-right: auto;
  max-width: 761px;
}

.pay-card {
  margin: 0 auto;
  max-width: 761px;
}

.pay-top {
  text-align: center;
  padding: $card-thick-padding;

  h1 {
    font-size: 2.2rem;
  }

  span {
    font-size: 1.3rem;
    margin-bottom: 0;
  }

  .pay-top-customer {
    color: $secondary-font;
  }

  .pay-top-invoice-info {
    color: $tertiary-font;
  }
}

.pay-action {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: transparentize($gold, 0.96);
  padding: $card-thick-padding;
  // text-align: center;
  border-top: 1px solid $borders;
  border-bottom: 1px solid $borders;

  .pay-action-total {
    font-size: 2.2rem;
    font-weight: 500;
    font-family: $sans-bold;
  }

  .pay-action-date {
    color: $secondary-font;
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .pay-now-button {
    margin-top: 1.2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .reject-now-button {
    margin-top: 1.2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    background-color: $unitrans-red;
    border-color: darken($unitrans-red, 10%);
  }
}

.pay-description {
  padding: $card-thick-padding;

  h3 {
    font-size: 1.1rem;
    font-family: $sans-reg;
    color: $secondary-font;
  }

  .pay-memo {
    box-shadow: $box-shadow;
    padding: 1rem;

    p {
      margin-bottom: 0;
      font-style: italic;
    }

    margin-bottom: 3rem;
  }
}

.pay-coupon {
  .pay-coupon-form {
  }
}

.pay-attachments {
  padding: $card-thick-padding;
  width: 100%;

  h3 {
    font-size: 1.1rem;
    font-family: $sans-reg;
    color: $secondary-font;
  }

  .pay-attachment {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid $borders;

    &:hover {
      box-shadow: $box-shadow;
    }

    p {
      margin: 0;
    }
  }
}

.pay-download {
  background-color: $bg-color;
  padding: $card-thick-padding;
  text-align: center;
  border-top: 1px solid $borders;
  border-bottom: 1px solid $borders;

  h3 {
    margin: 12px 0px 24px 0;
  }
}

.pay-footer {
  padding: 16px;
  text-align: center;
}

// Preview warning card
.preview-warning-card,
.preview-warning-card-style {
  padding: 1rem 3rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  max-width: 761px;
  border-left: solid $doubledecker 6px;

  .preview-warning-icon {
    color: $doubledecker;
  }
}

// preview embed
.preview-embed {
  min-height: 60vh;
}

// Payments table
table.pay-table {
  border-collapse: collapse;
  margin-bottom: 0px;

  th,
  td {
    padding: 12px 0px;
  }

  thead {
    th {
      font-size: 1.1rem;
      font-family: $sans-reg;
      border: none;
      color: $secondary-font;
      font-weight: inherit;
      border-bottom: 1px solid $borders;

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        text-align: right;
      }
    }
  }

  tbody {
    tr {
      &:last-child {
        border-top: 1px solid $borders;

        td {
          color: $primary-font;
          font-family: $sans-reg;
        }
      }
    }

    td,
    td span {
      font-size: 1rem;
      font-family: $sans-reg;
      color: $tertiary-font;
      border: none;
      vertical-align: top;

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        text-align: right;
      }
    }
  }
}
