.card-dashboard-button {
  flex-direction: row;
  align-items: center;
  padding: 16px;
  h2 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  img {
    margin: 0 16px;
    width: 36px;
  }
  &:hover {
    background-color: transparentize($primary-color, 0.99);
  }
}

table.table {
  td {
    vertical-align: inherit;
  }
  tr {
    vertical-align: middle;
  }
  tbody + tbody {
    border: none;
  }
}

// Invoice edit table
table.invoice-table {
  border-collapse: collapse;
  margin-bottom: 0px;

  td {
    padding: 12px 0px;
  }

  thead {
    th {
      border: none;
      padding: 0px;
      padding-top: 8px;

      &,
      & div,
      & span {
        font-family: $sans-reg;
        color: $secondary-font;
        font-weight: inherit;
      }

      &:nth-child(2) {
        text-align: right;
        padding-right: 16px;
      }

      &:nth-child(3) {
        text-align: center;
      }

      &:nth-child(4) {
        text-align: center;
      }

      &:nth-child(5) {
        text-align: right;
      }
    }
  }

  tbody {
    &.tbody-invoice-details {
      tr {
        td {
          vertical-align: top;
        }

        td:first-child {
          // width:45%;
          padding-right: 1.6rem;
        }

        td:nth-child(2) {
          width: 12%;
          padding-right: 1.6rem;
        }

        td:nth-child(3) {
          width: 12%;

          input {
            text-align: right;
          }
        }

        td:nth-child(4) {
          width: 12%;
          text-align: right;
          padding-top: 1.2rem + 0.375rem;
          padding-bottom: 1.2rem + 0.375rem;
        }

        td:nth-child(5) {
          width: 4rem;
          text-align: right;
          padding-top: 1.2rem + 0.375rem;
          padding-bottom: 1.2rem + 0.375rem;
        }
      }
    }

    td {
      // font-size: 1.6rem;
      font-family: $sans-reg;
      color: $secondary-font;
      border: none;

      &:nth-child(5),
      &:nth-child(6) {
        text-align: right;
      }
    }
  }

  tfoot {
    border: none;

    tr {
      td {
        border-top: none;
        font-family: $sans-bold;
        color: $primary-font;

        &:nth-child(5) {
          text-align: right;
        }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          border-top: 1px solid $borders;
        }
      }
    }
  }
}

// Invoice details table
table.invoice-details-table {
  border-collapse: collapse;
  margin-bottom: 0px;
  width: 100%;

  th,
  td {
    padding: 1rem;
  }

  thead {
    th {
      font-family: $sans-reg;
      text-transform: uppercase;
      border-bottom: 1px solid $borders;
      color: $secondary-font;
      font-weight: 600;
    }

    th:nth-child(2) {
      text-align: right;
    }

    th:nth-child(3) {
      text-align: right;
    }

    th:nth-child(4) {
      text-align: right;
    }

    th:nth-child(5) {
      text-align: right;
    }
  }

  tbody {
    tr {
      td {
        vertical-align: top;
        font-family: $sans-reg;
        color: $secondary-font;
        border: none;
      }

      td:first-child {
        padding-right: 16px;
        color: $primary-font;
      }

      td:nth-child(2) {
        width: 12%;
        padding-right: 16px;
        text-align: right;
      }

      td:nth-child(3) {
        width: 12%;
        text-align: right;
      }

      td:nth-child(4) {
        width: 12%;
        padding-left: 2rem;
        text-align: right;
      }

      td:nth-child(5) {
        width: 12%;
        text-align: right;
        color: $primary-font;
      }
    }
  }

  tbody.invoice-details-table-items {
    tr td {
      border-bottom: 1px solid $borders;
    }
  }

  tbody.invoice-details-table-subtotals {
    tr {
      td {
        &:nth-child(3),
        &:nth-child(5) {
          color: $primary-font;
        }
      }
    }
  }

  tfoot {
    tr {
      td {
        font-family: $sans-bold;
        color: $primary-font;

        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          border-top: 1px solid $borders;
          text-align: right;
        }
      }
    }

    tr:last-child {
      td {
      }
    }
  }
}

// invoice table
table#Invoices {
  tbody {
    tr {
      td.invoices-edit-btn {
        width: 30px;
      }

      &:hover td {
        font-weight: bold;
      }
    }
  }
}

// multi customer control
.multi-customer-control {
  .email-badge-row {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;

    span {
      margin-bottom: 1rem;
      margin-right: 1rem;
      padding: 0.5em 1em;

      font-size: 1.4rem;
      font-weight: 400;

      button {
        color: white;
      }
    }
  }
}

.account-details-modal {
  .modal-header {
    background-color: $bg-color;

    .modal-title {
      font-size: 2rem;
      font-weight: 600;
    }
  }

  .modal-body {
    background-color: $bg-color;

    .account-name {
    }

    .account-description {
    }

    &:hover {
      background-color: darken($bg-color, 5%);
    }
  }

  .modal-body + .modal-body {
    border-top: 1px solid $borders;
  }
}
#accountsTable {
  tr {
    td:nth-child(2) {
      word-wrap: anywhere;
    }
  }
}
.send-invoice-modal {
  .modal-content {
    transition: height 1s ease;
  }

  .modal-body + .modal-body {
    border-top: 1px solid $borders;
  }
}

.invoice-customer {
  dt {
    font-family: $sans-reg;
    font-weight: normal;
  }
  dd {
    font-family: $sans-bold;
    font-weight: bold;
  }
}

// invoice details page
.history-timeline {
  padding: 0;
  .history-action {
    font-weight: 600;
    margin-bottom: 0;
  }
  .history-actor,
  .history-date {
    color: $secondary-font;
    font-size: 0.8rem;
    margin-right: 0.5rem;
    text-transform: uppercase;
  }
  .history-item {
    padding: 0.75rem 0.5rem;
  }
  .history-item + .history-item {
    border-top: 1px solid $borders;
  }
  .history-icon {
    font-size: 1.6rem;
  }
}

.search-results {
  .search-header {
    .svgwrapper svg {
      width: 20px;
    }

    h3 {
      margin: 0;
    }

    .count {
      color: $secondary-font;
      font-weight: bold;
    }
  }

  .card-content {
    padding: 0;

    table {
      th:first-child,
      td:first-child {
        padding-left: 1.5rem;
      }

      th:last-child,
      td:last-child {
        padding-right: 1.5rem;
      }
    }
  }
}

.login-card {
  .card-header {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;

    border-bottom: none;
  }

  .card-body {
  }
}
