@model Payments.Mvc.Models.FinancialModels.FinancialAccountModel

@{
    ViewData["Title"] = "Create Account";
}

<div class="card">
    <div class="card-header card-header-primary d-flex justify-content-between align-items-start">
        <h1>@ViewBag.Title</h1>
        <a asp-action="Index">Back</a>
    </div>
    <div class="card-body">

        <form asp-action="ConfirmAccount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinancialSegmentString" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="FinancialSegmentString" class="form-control force-upper" />
                    <div class="input-group-append">
                        <button id="ccoa-picker" class="btn btn-primary" type="button">CCOA Picker</button>
                    </div>
                </div>
                <span asp-validation-for="FinancialSegmentString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chart" class="control-label"></label>
                <input asp-for="Chart" disabled class="form-control force-upper" />
                <span asp-validation-for="Chart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account" class="control-label"></label>
                <input asp-for="Account" disabled class="form-control force-upper" />
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubAccount" class="control-label"></label>
                <input asp-for="SubAccount" disabled class="form-control force-upper" placeholder="-----" />
                <span asp-validation-for="SubAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project" class="control-label"></label>
                <input asp-for="Project" disabled class="form-control force-upper" placeholder="---------" />
                <span asp-validation-for="Project" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsDefault" /> @Html.DisplayNameFor(model => model.IsDefault)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Next" class="btn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><i class="fas fa-chevron-left mr-3"></i>Back to Accounts</a>
</div>

@section AdditionalStyles {
    <style asp-add-nonce="true">
        .force-upper {
            text-transform: uppercase;
        }
    </style>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" asp-add-nonce="true">
        $(function () {
            $("#Chart").prop('disabled', false);
            $("#Account").prop('disabled', false);
            $("#SubAccount").prop('disabled', false);
            $("#Object").prop('disabled', false);
            $("#SubObject").prop('disabled', false);
            $("#Project").prop('disabled', false);
            $("#FinancialSegmentString").prop('disabled', false);
        });

    </script>
    <script src="https://finjector.ucdavis.edu/finjector.js?v=3" type="text/javascript" asp-add-nonce="true"></script>

    <script type="text/javascript" asp-add-nonce="true">

        $("#ccoa-picker").on("click",

            async function () {
                const chart = await window.Finjector.findChartSegmentString();
                if (chart && chart.status === "success") {
                    $("#FinancialSegmentString").val(chart.data);
                }
                else {
                    alert("Something went wrong with the CCOA picker")
                }
                return false;
            });

    </script>
}
