@model Payments.Mvc.Models.FinancialModels.FinancialAccountModel

@{
    ViewData["Title"] = "Create Account";
}

<h2>Create Account for Team @Model.Team.Name</h2>

<h4>FinancialAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ConfirmAccount">
            @Html.Partial("_AccountForm")
            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-default" />                
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="Teams" asp-route-id="@Model.TeamId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(function () {
            $("#Chart").prop('disabled', false);
            $("#Account").prop('disabled', false);
            $("#SubAccount").prop('disabled', false);
            $("#Object").prop('disabled', false);
            $("#SubObject").prop('disabled', false);
            $("#Project").prop('disabled', false);
        });
      
    </script>
}
