@model FinancialAccount

@{
    ViewData["Title"] = "Edit Financial Account";
}

<div class="card">
    <div class="card-header card-header-primary d-flex justify-content-between align-items-start">
        <h1>@ViewBag.Title</h1>
        <span>
            <a asp-controller="FinancialAccounts" asp-action="AccountDetails" asp-route-id="@Model.Id">Back</a>
        </span>
    </div>

    <div class="card-body">
        <form asp-action="EditAccount">
            <partial name="_AccountForm" />
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-controller="FinancialAccounts" asp-action="AccountDetails" asp-route-id="@Model.Id"><i class="fas fa-chevron-left mr-3"></i>Back</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
