@using Payments.Mvc.Models.FinancialModels
@model FinancialAccountEditModel

@{
    ViewData["Title"] = "Edit Financial Account";
}

<div class="card">
    <div class="card-header card-header-primary d-flex justify-content-between align-items-start">
        <h1>@ViewBag.Title</h1>
        <span>
            <a asp-controller="FinancialAccounts" asp-action="AccountDetails" asp-route-id="@Model.FinancialAccount.Id">Back</a>
        </span>
    </div>

    <div class="card-body">
        <form asp-action="EditAccount">
            <partial name="_AccountForm" />
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="FinancialAccount.IsActive" /> @Html.DisplayNameFor(model => model.FinancialAccount.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-controller="FinancialAccounts" asp-action="AccountDetails" asp-route-id="@Model.FinancialAccount.Id"><i class="fas fa-chevron-left"></i>Back</a>
</div>

@section AdditionalStyles {
    <style asp-add-nonce="true">
        .force-upper{
            text-transform: uppercase;
        }
    </style>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    
@*    <script type="text/javascript" asp-add-nonce="true">
        $(function () {
            var fssVal = $("#FinancialAccount_FinancialSegmentString").val();
            if (fssVal === "") {
                $("#FinancialAccount_FinancialSegmentString").prop("disabled", false);
                $("#ccoa-picker").prop("disabled", false);
            }

        });

    </script>*@

    <script src="https://finjector.ucdavis.edu/finjector.js?v=3" type="text/javascript" asp-add-nonce="true"></script>

    <script type="text/javascript" asp-add-nonce="true">

        $("#ccoa-picker").on("click",

            async function () {
                const chart = await window.Finjector.findChartSegmentString();
                if (chart && chart.status === "success") {
                    $("#FinancialAccount_FinancialSegmentString").val(chart.data);
                }
                else {
                    alert("Something went wrong with the CCOA picker")
                }
                return false;
            });

    </script>
}

