@model FinancialAccount

@{
    ViewData["Title"] = "Edit Financial Account";
}

<div class="card-style">
    <div class="card-header-primary card-bot-border">
        <div class="card-head d-flex justify-content-between align-items-start">
            <h2>@ViewBag.Title</h2>
            <span>
                <a asp-action="Details" asp-controller="Teams">Back to List</a>
            </span>
        </div>
    </div>

    <div class="card-content">
        <form asp-action="EditAccount">
            <partial name="_AccountForm" />
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
